<div class="card">
  <p-card
    header="Rút gọn links !"
    subheader="by Huy Nguyễn"
    [style]="{ width: '100%' }"
    styleClass="p-card-shadow"
  >
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-plus"
      class="p-button-rounded"
      (click)="addLink()"
    ></button>
    <p-splitter
      [style]="{ height: '500px' }"
      [panelSizes]="[40, 60]"
      styleClass="p-mb-5"
    >
      <ng-template pTemplate>
        <div
          class="p-col p-d-flex p-ai-center p-jc-center"
          style="cursor: pointer; width: 100%"
        >
          <li *ngIf="newLink" style="cursor: pointer">
            {{ newLink.title }}
            <br />
            <span style="font-style: italic; margin-left: 30px">{{
              newLink.link.toString().substring(0, 20)
            }}</span>
          </li>
          <li
            *ngFor="let link of links"
            style="cursor: pointer"
            (click)="viewLink(link)"
            [ngClass]="getSelectedClass(link)"
          >
            {{ link.title }}
            <br />
            <span style="font-style: italic; margin-left: 30px">{{
              link.link.toString().substring(0, 20)
            }}</span>
          </li>
        </div>
      </ng-template>
      <ng-template pTemplate>
        <div *ngIf="newLink" style="width: 100%">
          <br />
          <span class="p-float-label">
            <textarea
              rows="1"
              pInputTextarea
              style="width: 100%"
              [(ngModel)]="newLink.title"
            ></textarea>
            <label for="float-input">Title</label>
          </span>
          <br />
          <span class="p-float-label">
            <textarea
              rows="5"
              pInputTextarea
              style="width: 100%"
              [(ngModel)]="newLink.link"
            ></textarea>
            <label for="float-input">Link</label>
          </span>
          <br />
          <p-button
            label="Save"
            icon="pi pi-check"
            (click)="saveLink()"
          ></p-button>
          <p-button
            label="Cancel"
            icon="pi pi-times"
            styleClass="p-button-secondary"
            [style]="{ 'margin-left': '.5em' }"
            (click)="cancelAddLink()"
          ></p-button>
        </div>
        <div
          class="p-col p-d-flex p-ai-center p-jc-center"
          *ngIf="selectedLink && !newLink"
        >
          <span style="font-weight: bold">{{ selectedLink.title }}</span>
          <br /><br />
          {{ selectedLink.link }}
        </div>
      </ng-template>
    </p-splitter>
  </p-card>
</div>
<p-toast></p-toast>
